:root {
  --nintendo-gray-1: rgb(193, 190, 185);
  --nintendo-gray-2: rgb(145, 139, 146);
  --gameboy-screen-1: rgb(124, 130, 16);
  --gameboy-screen-2: rgb(89, 121, 66);
  --gameboy-screen-3: rgb(57, 89, 74);
  --gameboy-screen-4: rgb(41, 65, 57);
  --color-rock: rgba(255, 0, 0, 1);
  --color-paper: rgba(255, 255, 0, 1);
  --color-scissors: rgba(0, 0, 255, 1);
  --color-spock: rgba(255, 192, 203, 1);
  --color-lizard: rgba(0, 128, 0, 1);
  --darkest-gray: rgb(75, 75, 75);
  --sky-blue: rgb(84, 148, 254);
  --grass-green: rgb(117, 185, 36);
  --checker-1: rgb(251, 184, 9);
  --checker-2: rgb(180, 78, 9);
  --custom-border: 3px solid var(--darkest-gray);
}

*,
*:before,
*:after {
  font-family: 'ArcadeClassic', sans-serif;
}

.flex-center {
  display: flex;
  align-items: center;
}

body.flex-center {
  flex-direction: column;
  justify-content: space-evenly;
  height: 100vh;
  margin: 0px;
  text-align: center;
  overflow: scroll;
}
/*<><> Header <><>*/
header.flex-center {
  width: 100%;
  font-size: 1em;
  justify-content: center;
  gap: 1.5%;
}

h1 {
  transition: all 1.5s ease-in-out;
}

h1:hover {
  color: red;
  scale: 1.3;
  &:first-child {
    rotate: -365deg;
  }
  &:last-child {
    rotate: 365deg;
  }
}
/*<><> Console <><>*/
#console {
  position: relative;
  background: linear-gradient(
    200deg,
    var(--nintendo-gray-1) 0%,
    var(--nintendo-gray-2) 70%,
    #5f5b5b 100%
  );
  width: 75%;
  aspect-ratio: 2.2/1;
  max-width: 1800px;
  min-width: 700px;
  border-radius: 30px;
  box-shadow: -0.5em 0.5em 0.5em 0.5em rgba(0, 0, 0, 0.3);
  &.flip {
    animation: 1s ease-in-out 1 flip;
  }
}

#console::before {
  content: '';
  position: absolute;
  background: color-mix(in srgb, var(--nintendo-gray-2) 65%, black);
  top: 0;
  right: 0;
  width: 101%;
  height: 103%;
  border-radius: 30px;
  transform: translate(-1px, 2px);
  z-index: -1;
}

button,
.clickable {
  transition: all 0.2s ease-in-out;
  border: var(--custom-border);
  padding: 0;
  &:hover {
    cursor: pointer;
    transform: scale(1.1);
  }
  &:active .button-overlay {
    transform: translateY(-2px) !important;
  }
  &.disable {
    filter: grayscale(0.6);
    mouse-events: none;
    &:hover {
      cursor: default;
      transform: none;
    }
  }
}

.button-overlay {
  display: block;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  transform: translate(2px, -4px);
}

div > .button-overlay {
  border-radius: 10px;
  background: var(--nintendo-gray-2);
}

#mode > .button-overlay {
  background: var(--color-rock);
  transform: translate(2px, -3px);
}

button > .button-overlay {
  aspect-ratio: 1/1;
  border-radius: 50%;
  &.btn-rock {
    background: var(--color-rock);
  }
  &.btn-paper {
    background: var(--color-paper);
  }
  &.btn-scissors {
    background: var(--color-scissors);
  }
  &.btn-spock {
    background: var(--color-spock);
  }
  &.btn-lizard {
    background: var(--color-lizard);
  }
}

h2 {
  font-size: 1em;
}

p {
  margin-block-start: 0;
  margin-block-end: 0;
}
/*<><> Screen <><>*/
#screen-layer,
#buttons-layer {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: 30px;
}

#screen-layer.flex-center {
  justify-content: center;
  z-index: 2;
  border: var(--custom-border);
}

#screen-frame.flex-center {
  justify-content: center;
  margin-bottom: 3%;
  background: linear-gradient(225deg,
    var(--nintendo-gray-2) 50%,
    #4A4747 100%
  );
  width: 70%;
  height: 85%;
  border-radius: 20px;
  border: var(--custom-border);
}

#screen {
  position: relative;
  display: flex;
  align-items: stretch;
  background: var(--sky-blue);
  width: 80%;
  height: 85%;
  margin-bottom: 3%;
  border: var(--custom-border);
  border-radius: 20px;
  overflow: hidden;
}

#screen-background {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
}

.player-info.flex-center {
  width: 25%;
  flex-direction: column;
  justify-content: space-around;
  z-index: 6;
  background-color: var(--checker-1);
  background-image: linear-gradient(
      45deg,
      var(--checker-2) 25%,
      transparent 25%
    ),
    linear-gradient(135deg, var(--checker-2) 25%, transparent 25%),
    linear-gradient(45deg, transparent 75%, var(--checker-2) 75%),
    linear-gradient(135deg, transparent 75%, var(--checker-2) 75%);
  background-position: 0 0, 4% 0, 4% -4%, 0 -4%;
  background-size: 8% 8%;
  border-right: thick solid var(--checker-2);
  border-left: thick solid var(--checker-2);
  transition: all 2s ease-in-out;
  & > h2,
  & > h3 {
    background: color-mix(in srgb, var(--checker-1) 85%, transparent);
    border-radius: 10%;
    padding: 2%;
  }
  &.hide {
    transform: translateX(-110%);

    &:last-child {
      transform: translateX(110%);
    }
  }
}
/* menu area */
#menu-layer {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: var(--grass-green);
  flex-direction: column;
  justify-content: space-around;
  background-color: var(--gameboy-screen-1);
  filter: brightness(0.9);
  z-index: 5;
  transition: all 2s ease-in-out;
  &.hide {
    transform: translateY(-110%);
  }
}

#menu-layer * {
  border-color: var(--gameboy-screen-4);
  color: var(--gameboy-screen-4);
  background-color: color-mix(in srgb, var(--gameboy-screen-1) 70%, white);
}

#menu-layer *:focus {
  outline-style: none;
  filter: brightness(1.2);
}

#menu-form {
  flex-direction: column;
  justify-content: space-around;
}

#menu-layer button {
  height: 2em;
  aspect-ratio: 3.5/1;
  border-radius: 5px;
  border-width: 2px;
  margin-top: 2%;
  background-color: color-mix(in srgb, var(--gameboy-screen-1) 70%, white);
  color: var(--gameboy-screen-4);

  &:hover {
    filter: brightness(1.1);
    transform: scale(1);
  }
}

.player-info-form {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.player-info-form > span {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* gap: 2%; */
  & > label {
    display: flex;
    flex-grow: 1;
    flex-shrink: 0;
  }
  & > input {
    height: 1.5em;
  }
}

.buffer {
  width: 1em;
}

#menu-layer .players-count {
  display: block;
  border: 2px solid var(--gameboy-screen-4);
  border-radius: 50%;
  height: 0.5em;
  aspect-ratio: 1/1;
  &:hover {
    cursor: pointer;
  }
  &.selected {
    background-color: var(--gameboy-screen-2);
  }
}

.menu-footer {
  width: 100%;
  justify-content: center;
  gap: 5%;
  & > fieldset {
    gap: 0.5em;
  }
}
/* menu dropdowns */
.dropdown {
  display: inline-block;
  position: relative;
}

.dropdown-featured {
  border: 2px solid;
  height: 1.5em;
  aspect-ratio: 3.5/1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dropdown-content {
  display: none;
  position: absolute;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 2;
  width: 100%;
  max-height: 5em;
  overflow-y: scroll;
  overflow-x: hidden;
  scrollbar-width: none;
  &::-webkit-scrollbar {
    display: none;
  }
}

.dropdown-content > * {
  display: block;
  height: 1.5em;
  aspect-ratio: 3.5/1;
  font-size: 0.7em;
  text-align: left;
  padding-left: 5%;
  &:hover {
    cursor: pointer;
    filter: brightness(1.3);
  }
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropdown-featured {
  filter: brightness(1.2);
}

/* gameplay area */
#game.flex-center {
  width: 100%;
  justify-content: space-around;
  transition: 2s ease-in-out;
}

#game > img {
  height: 40%;
  transition: opacity 0.4s ease-in-out;
}

img.ready {
  animation: 1.5s ease-in-out 0s 1 both appearFromLeft,
    1.5s linear 1.6s infinite bounce;
}

img.pre-battle {
  animation: 0.5s ease-in-out 0s 3 both preBattle;
}

img.attack {
  animation: 0.5s ease-in-out 1 both appearFromLeft;
}
/* targets all p1 game battle emojis */
[id$='1-battle'] {
  transform: scaleX(-1);
  &.ready {
    animation: 1.5s ease-in-out 0s 1 both appearFromRight,
      1.5s linear 1.6s infinite reverse bounce;
  }
  &.attack {
    animation: 0.5s ease-in-out 1 both appearFromRight;
  }
}

.fade-out {
  opacity: 0;
  z-index: 0;
}

#sky.flex-center {
  height: 85%;
  width: 100%;
  flex-direction: column;
}

#sky > * {
  transition: opacity 0.5s ease-in-out;
}

#ground {
  height: 15%;
  background-color: var(--checker-1);
  background-image: linear-gradient(
      45deg,
      var(--checker-2) 25%,
      transparent 25%
    ),
    linear-gradient(135deg, var(--checker-2) 25%, transparent 25%),
    linear-gradient(45deg, transparent 75%, var(--checker-2) 75%),
    linear-gradient(135deg, transparent 75%, var(--checker-2) 75%);
  background-position: 0 0, 1em 0, 1em -1em, 0 -1em;
  background-size: 2em 2em;
  border-top: thick var(--grass-green) solid;
}
/*<><> Buttons <><>*/
button {
  aspect-ratio: 1/1;
  border-radius: 50%;
}

#buttons-layer {
  z-index: 3;
  display: flex;
  justify-content: space-between;
  width: 100%;
  border-radius: 30px;
  pointer-events: none;
}

.left-btns,
.right-btns {
  pointer-events: auto;
  flex-direction: column;
  width: 21%;
  height: 100%;
  font-size: 1.1em;
  border-radius: 30px 0 0 30px;
  &.right-btns {
    border-radius: 0 30px 30px 0;
  }
}

.btn-grp-a.flex-center {
  width: 33%;
  height: 25%;
  flex-direction: column;
  justify-content: center;
  margin-right: 5%;
  &.right {
    margin-right: -5%;
  }
}

.top-btn {
  width: 100%;
  aspect-ratio: 3.5/1;
  background: color-mix(in srgb, var(--nintendo-gray-2) 35%, black);
  border: var(--custom-border);
  border-radius: 10px;
}

.btn-choice-container.flex-center {
  position: relative;
  flex-direction: column;
  width: 100%;
  height: 40%;
}

.btn-grp-b.flex-center {
  width: 70%;
  height: 100%;
  flex-direction: column;
  justify-content: center;
}

.btn-grp-b > button {
  height: 40%;
  &.btn-rock {
    align-self: flex-start;
    background-color: var(--color-rock);
    background: color-mix(in srgb, var(--color-rock) 65%, black);
  }
  &.btn-paper {
    background: color-mix(in srgb, var(--color-paper) 65%, black);
  }
  &.btn-scissors {
    align-self: flex-end;
    background-color: var(--color-scissors);
    background: color-mix(in srgb, var(--color-scissors) 65%, black);
  }
  &.right-side {
    &.btn-rock {
      align-self: flex-end;
    }
    &.btn-scissors {
      align-self: flex-start;
    }
  }
}

.btn-grp-c.flex-center {
  position: absolute;
  flex-direction: column;
  justify-content: space-around;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  pointer-events: none;
}

.btn-grp-c > button {
  pointer-events: auto;
  height: 32%;
  &.btn-spock {
    margin-left: 46%;
    background: color-mix(in srgb, var(--color-spock) 65%, black);
  }
  &.btn-lizard {
    margin-right: 46%;
    background: color-mix(in srgb, var(--color-lizard) 65%, black);
  }
  &.right-side {
    &.btn-spock {
      margin-left: -46%;
    }
    &.btn-lizard {
      margin-right: -46%;
    }
  }
  backdrop-filter: brightness(70%);
}
/* d-pad */
#d-pad.flex-center {
  height: 25%;
  aspect-ratio: 1/1;
  margin: 0 27% 0 0;
  aspect-ratio: 1/1;
  background: linear-gradient(225deg,
    var(--nintendo-gray-2) 50%,
    #4A4747 100%
  );
  border: var(--custom-border);
  border-radius: 50%;
  flex-direction: column;
  overflow: hidden;
}

#d-pad > div {
  height: 33.34%;
  &:nth-child(2) {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
}

.d-pad-btn {
  aspect-ratio: 1/1;
  background: var(--nintendo-gray-2);
  filter: brightness(110%);
  border: none;
}

.right-btns > div:last-child {
  height: 30%;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 10%;
}

#speaker {
  height: 66%;
  margin-left: 60%;
}

.btn-grp-mode.flex-center {
  font-size: 0.7em;
  flex-direction: column;
  gap: 5%;
  margin-right: 25%;
}

#mode {
  height: 1em;
  aspect-ratio: 1/1;
  border-radius: 50%;
  background: color-mix(in srgb, var(--color-rock) 65%, black);
  border: 2px black solid;
}
/*<><> Emojis <><>*/
.avatar {
  height: 30%;
  transition: all 1s ease-in-out;
  &:hover {
    scale: 1.1;
    animation: wiggle 2s linear infinite alternate;
  }
  &.victory {
    /* scale: 1.3; */
    animation: 1s ease-in-out 3 victory;
  }
  &.defeat {
    animation: 3s linear 1 defeat;
  }
}
/*<><> Animations <><>*/
/* choice animations */
@keyframes appearFromLeft {
  0% {
    translate: -180%;
  }
  100% {
    translate: 0%;
  }
}

@keyframes appearFromRight {
  0% {
    translate: 180%;
    transform: scaleX(-1);
  }
  100% {
    translate: 0%;
    transform: scaleX(-1);
  }
}

@keyframes appearFromAbove {
  0% {
    translate: 0 -180%;
  }
  100% {
    translate: 0 0;
  }
}

@keyframes bounce {
  0% {
    translate: 0 0;
  }
  25% {
    translate: -15% -10%;
  }
  50% {
    translate: 0 0;
  }
  75% {
    translate: 15% -10%;
  }
  100% {
    translate: 0 0;
  }
}

@keyframes preBattle {
  0% {
    translate: 0 0;
  }
  50% {
    translate: 0 -10%;
  }
  100% {
    translate: 0 0;
  }
}
/* emoji animations */
@keyframes victory {
  0% {
    transform: rotateZ(0deg);
  }
  100% {
    transform: rotateZ(360deg);
  }
}

@keyframes defeat {
  0% {
    transform: scale(1);
  }
  98% {
    transform: scale(1.3, 0.2);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes wiggle {
  0%,
  10%,
  20%,
  30%,
  40% {
    transform: rotate(0);
  }
  40%,
  50%,
  60%,
  70%,
  80% {
    transform: rotate(5deg);
  }
  45%,
  55%,
  65%,
  75%,
  85% {
    transform: rotate(-5deg);
  }
  100% {
    transform: rotate(0);
  }
}
/* console animations */
@keyframes flip {
  0% {
    transform: scaleY(1);
    filter: contrast(1);
  }
  35% {
    filter: contrast(0);
  }
  50% {
    transform: scaleY(-1);
    filter: contrast(0);
  }
  65% {
    filter: contrast(0);
  }
  100% {
    transform: scaleY(1);
    filter: contrast(1);
  }
}
